// COLORS

$navy-blue: #18121e;
$gunmetal: #233237;
$rust-red: #984b43;
$warm-yellow: #eac67a;
// FONTS

$headline-font: "Roboto", Arial, sans-serif;
$text-font: "Titillium Web", Georgia, serif;
$tiny-font: 12px;
$small-font: 14px;
$medium-font: 18px;
$large-font: 24px;
$xlarge-font: 36px;
